/* fond de page */
body {
  /* background-image: url(theme_pluie.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, lightblue, white);
  /*color: black;*/
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1 { 
  color: mediumblue;
  text-shadow: 1px 1px 1px white;
  border: none;
  box-shadow: none;
  background-color: rgba(0,200,255,0.3);
  border-top: 3px solid rgba(255,255,255,0.6);
  border-bottom: 3px solid rgba(255,255,255,0.6);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

/* contenu de la page */
body > * {   padding-left: 10px; }

/* polices de caractères */
body { font-family: Gill Sans Nova Light, sans-serif; size : 50;  }

/* positionnement des champs */
label { display: block; color : black; font-size : 130%;}
label span { display: inline-block; width: 5em; height: 1.5em; }

form[name=Dates] {
  color: mediumblue;
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  height:75%;
  width:10%;
  border: 4px solid rgba(37,87,233,0.6);
  border-radius: 10px;1.33em
  margin: 0.8em;
  padding: 0.4em;
  float:left; 
  margin-left:10px; 
  margin-right:20px;
}

h2{
  color:mediumblue;
}

#reponse {
    display: inline-block;
    width: 52%;
}
#reponse img {
    width: 100%;
}

/*
input, textarea {
  font-family: monospace;
  padding: 2px 0.5em;
  width: 5em;
  font-size: 1.2em;
  line-height: 1.33em;
  color: #666;
  margin-top: 5px;
}
.button {
  border: 3px outset #444;
  background-color: #888;
  padding: 5px 0.5em;
  border-radius: 3px;
  display: inline-block;
  margin: 1em 0;

  color: #eee;
  text-shadow: #000 -1px -1px 0;
  right: calc(100% - 8em - 3px);
}
*/
/*
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
*/
a.delete:hover {
  color: red;
}
