/* fond de page */
body {
  /* background-image: url(theme_pluie.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, lightblue, white);
  /*color: black;*/
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1 { 
  border: none;
  box-shadow: none;
  text-indent: 3%;
  background-color: rgba(37,87,233,0.6);
  border: 3px solid rgba(26,14,117,0.6);
  color:rgb(26,14,117);
  border-radius: 8px;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 20px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  height: 50px;
  width: 95%;
}

/* contenu de la page */
body > * {   padding-top: 10px; padding-left: 10px; }

/* polices de caractères */
body { font-family: Gill Sans Nova Light, sans-serif; size : 50;  }

/* positionnement des champs */
label { display: block; color : black; font-size : 130%;}
label span { display: inline-block; width: 5em; height: 1.5em; }

form[name=Dates] {
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  height:75%;
  width:15%;
  overflow: auto;
  border: 4px solid rgba(37,87,233,0.6);
  border-radius: 10px;1.33em
  margin: 0.8em;
  padding: 0.4em;
  float:left; 
  margin-left:10px; 
  margin-right:20px;
}

h2{
  color:rgb(26,14,117);
}

input[type=button]{
  background: rgba(37,87,233,0.6);
  border: 5px;
  border-color: rgba(37,87,233,0.6);
  border-radius: 4px;
  margin: 3px; 
  height: 30px;
  font-size: 16px;
  color:rgb(26,14,117)
}

.styled-select select {
   background: rgba(37,87,233,0.6);
   width: 260px;
   padding: 5px;
   margin: 3px;
   font-size: 16px;
   border: 5px;
   border-radius: 4px;
   height: 30px;
   border: 1px;
   border-color: rgba(37,87,233,0.6);
   color:rgb(26,14,117)
   }

#reponse {
    display: inline-block;
    width: 45%;
}
#reponse img {
    width: 100%;
}

/*
input, textarea {
  font-family: monospace;
  padding: 2px 0.5em;
  width: 5em;
  font-size: 1.2em;
  line-height: 1.33em;
  color: #666;
  margin-top: 5px;
}
.button {
  border: 3px outset #444;
  background-color: #888;
  padding: 5px 0.5em;
  border-radius: 3px;
  display: inline-block;
  margin: 1em 0;

  color: #eee;
  text-shadow: #000 -1px -1px 0;
  right: calc(100% - 8em - 3px);
}
*/
/*
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
*/
a.delete:hover {
  color: red;
}
